<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
  console.log("test test test")
  $("#login-form").submit(function(event) {
    event.preventDefault();
    var email = $("#email").val();
    var password = $("#password").val();
    var data = {
      "email": email,
      "password": password
    };
    $.ajax({
      type: "POST",
      url: "/api/v1/auth/authenticate",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function(response) {
        // handle the response from the server

        // Save the response (token)
        localStorage.setItem("token", response.token);
      },
      error: function(error) {
        // handle the error
      }
    });
  });
});
 </script>
<h1>Login</h1>
<form th:action="@{/api/v1/auth/authenticate}"  th:object="${authenticationRequest}" method="post" id="login-form">
  <input type="hidden" name="_method" value="post" />
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" />
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>
