<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1 id="profile-header">Profile</h1>
<form id="profile-form">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <label for="theme">Theme:</label>
        <input type="text" id="theme" name="theme">
    </div>
    <div>
        <label>Jobs:</label>
        <div id="jobs-fields"></div>
        <button type="button" id="add-job">Add Job</button>
    </div>
    <div>
        <label>Educations:</label>
        <div id="educations-fields"></div>
        <button type="button" id="add-education">Add Education</button>
    </div>
    <div>
        <label>Skills:</label>
        <div id="skills-fields"></div>
        <button type="button" id="add-skill">Add Skill</button>
    </div>
    <div>
        <label>Projects:</label>
        <div id="projects-fields"></div>
        <button type="button" id="add-project">Add Project</button>
    </div>
    <!-- Add more fields here as needed -->
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<script src="../profile-templates/profile-edit.js"></script>
</body>
</html>