<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 id="profile-header">Profile</h1>
    <form id="profile-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="theme">Theme:</label>
            <input type="text" class="form-control" id="theme" name="theme">
        </div>
        <div class="form-group">
            <label>Jobs:</label>
            <table class="table" id="jobs-table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Designation</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Responsibility</th>
                </tr>
                </thead>
                <tbody id="jobs-fields">
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="add-job">Add Job</button>
        </div>
        <div class="form-group">
            <label>Educations:</label>
            <div id="educations-fields"></div>
            <button type="button" class="btn btn-primary" id="add-education">Add Education</button>
        </div>
        <div class="form-group">
            <label>Skills:</label>
            <div id="skills-fields"></div>
            <button type="button" class="btn btn-primary" id="add-skill">Add Skill</button>
        </div>
        <div class="form-group">
            <label>Projects:</label>
            <div id="projects-fields"></div>
            <button type="button" class="btn btn-primary" id="add-project">Add Project</button>
        </div>
        <!-- Add more fields here as needed -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
<script src="../profile-templates/profile-edit.js"></script>
</body>
</html>