<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Register</h1>
      <form method="POST" action="/register" onsubmit="registerUser(event)" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" required>
          <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required>
          <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>
<script>
		function registerUser(event) {
			event.preventDefault();
			const form = event.target;
			if (form.checkValidity() === false) {
				event.stopPropagation();
				form.classList.add('was-validated');
			} else {
				const email = document.getElementById('email').value;
				const password = document.getElementById('password').value;
				const data = { email, password };
				fetch('/api/v1/auth/register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				})
				.then(response => {
					if (response.ok) {
						window.location.href = "/home/login";
					} else {
						throw new Error('Registration failed');
					}
				})
				.catch(error => console.error(error));
			}
		}
	</script>
</body>
</html>